    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="card">
            <div class="card-header text-white">
              <h1 class="d-flex align-items-center mb-4">
                <i [ngClass]="isEdit ? 'fas fa-edit' : 'fas fa-inbox'"
                  class="me-2 fs-3">
                </i>
                {{ isEdit ? 'Edit Enquiry' : 'New Enquiry' }}
              </h1>
            </div>
            <div class="card-body p-4 p-lg-5">
              <div class="d-flex flex-column align-items-end gap-2 mb-4">

                <div *ngIf="isEdit || newEnquiry.folio">
                  <button class="btn btn-secondary btn-status" [routerLink]="['/enquiry/ticket', newEnquiry.enquiryId]">
                    <i class="fas fa-receipt me-1"></i> Ver Ticket
                  </button>
                </div>

                <div class="d-flex gap-2" *ngIf="isEdit">
                  <button
                    class="btn btn-warning btn-status"
                    (click)="updateStatus(2)"
                    [disabled]="newEnquiry.enquiryStatusId === 2"
                    [ngClass]="{ 'not-allowed': newEnquiry.enquiryStatusId === 2 }">
                    <i class="fas fa-spinner me-1"></i> In Progress
                  </button>

                  <button
                    class="btn btn-secondary btn-status"
                    (click)="updateStatus(3)"
                    [disabled]="newEnquiry.enquiryStatusId === 3"
                    [ngClass]="{ 'not-allowed': newEnquiry.enquiryStatusId === 3 }">
                    <i class="fas fa-pause-circle me-1"></i> On Hold
                  </button>

                  <button
                    class="btn btn-success btn-status"
                    (click)="updateStatus(4)"
                    [disabled]="newEnquiry.enquiryStatusId === 4"
                    [ngClass]="{ 'not-allowed': newEnquiry.enquiryStatusId === 4 }">
                    <i class="fas fa-check-circle me-1"></i> Resolved
                  </button>
                </div>

              </div>

              <form (ngSubmit)="onSubmit()" #formRef="ngForm">
                <div class="form-floating mb-3">
                  <input
                        type="text"
                        name="folio"
                        [(ngModel)]="newEnquiry.folio"
                        class="form-control"
                        id="folio"
                        placeholder="Folio"
                        disabled="true"
                        readonly>
                      <label for="folio">Folio</label>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-floating mb-3">

                      <select class="form-select" name="enquiryTypeId" [(ngModel)]="newEnquiry.enquiryTypeId" id="enquiryTypeId" required>
                        <option value="">Select Enquiry Type</option>
                        @for (type of typeList | async; track $index) {
                          <option [value]="type.typeId">{{ type.typeName }}</option>
                        }

                      </select>
                      <label for="enquiryTypeId" class="required-field">Enquiry Type</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3">
                      <select class="form-select" name="enquiryStatusId" [(ngModel)]="newEnquiry.enquiryStatusId" id="enquiryStatusId" required disabled>
                        <option value="">Select Status</option>
                        @for (status of statusList | async; track $index) {
                          <option [value]="status.statusId">{{ status.status }}</option>
                        }
                      </select>
                      <label for="enquiryStatusId" class="required-field">Status</label>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" name="customerName" [(ngModel)]="newEnquiry.customerName" class="form-control" id="customerName" placeholder=" " required>
                  <label for="customerName" class="required-field">Full Name</label>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-floating mb-3">
                      <input type="email" name="email" [(ngModel)]="newEnquiry.email" class="form-control" id="email" placeholder=" " required>
                      <label for="email" class="required-field">Email Address</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3">
                      <input type="tel" name="phone" [(ngModel)]="newEnquiry.phone" class="form-control" id="phone" placeholder=" " required>
                      <label for="phone" class="required-field">Phone Number</label>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-4">
                  <textarea class="form-control" name="message" [(ngModel)]="newEnquiry.message" id="message" style="height: 150px" placeholder=" " required></textarea>
                  <label for="message" class="required-field">Message</label>
                </div>

                <div class="form-floating mb-4">
                  <textarea class="form-control" name="resolution" [(ngModel)]="newEnquiry.resolution" id="resolution" style="height: 150px" placeholder=" " ></textarea>
                  <label for="resolution" class="required-field">resolution</label>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-floating mb-3 position-relative">
                      <input
                        type="number"
                        name="costo"
                        step="0.01"
                        min="0"
                        [(ngModel)]="newEnquiry.costo"
                        class="form-control ps-5"
                        id="costo"
                        placeholder="Costo">
                      <label for="costo">Costo</label>
                      <span class="position-absolute money-symbol translate-middle-y ms-3 text-muted">$</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3">
                      <input
                        type="date"
                        name="fechaEntrega"
                        [(ngModel)]="newEnquiry.dueDate"
                        class="form-control"
                        id="fechaEntrega"
                        placeholder="Fecha de entrega">
                      <label for="fechaEntrega">Fecha de Entrega</label>
                    </div>
                  </div>
                </div>

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary mt-3" [disabled]="loading || !formRef.valid">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                    {{ loading ? 'Saving...' : 'Submit' }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
