<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Enquiry App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="enquiry/new">New Enquiry</a>
        </li>

      </ul>
      <form class="d-flex justify-content-end gap-2">
        <input class="form-control me-2"
          [(ngModel)]="searchTerm"
          [ngModelOptions]="{ standalone: true }"
          (keyup.enter)="onSearchChange()"
          type="text" placeholder="Search">
        <button
          (click)="onSearchChange()"
          class="btn btn-primary"
          type="button">Search</button>
        <button
          *ngIf="searchTerm"
          (click)="clearSearch()"
          class="btn btn-sm btn-danger"
          aria-label="Clear search" type="button">✕</button>
      </form>
    </div>
  </div>
</nav>
