<nav class="navbar navbar-dark bg-dark navbar-expand-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Enquiry App</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" *ngIf="authService.isLoggedIn()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar" #navbarCollapse *ngIf="authService.isLoggedIn()">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">{{ 'ui_enquiries' | label }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="enquiry/new" (click)="collapseNavbar()">{{ 'ui_new_enquiry' | label }}</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isAdmin">
          <a
            class="nav-link dropdown-toggle"
            href="javascript:void(0);"
            role="button"
            (click)="toggleDropdown($event)">
            {{ 'ui_reports' | label }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/admin/reports" (click)="collapseNavbar()">
              {{ 'ui_general_report' | label }}
            </a></li>
            <li><a class="dropdown-item" routerLink="/admin/reports/archived" (click)="collapseNavbar()">
              {{ 'ui_archived_enquiries' | label }}
            </a></li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/admin-users" (click)="collapseNavbar()">
            {{ 'ui_admin_users' | label }}
          </a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/admin/catalogos" (click)="collapseNavbar()">
            {{ 'ui_catalogos' | label }}
          </a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/admin/config-ui">Config</a>
        </li>
      </ul>
      <button class="btn btn-dark me-2" (click)="logout()">
        <i class="fas fa-sign-out-alt me-1"></i></button>
    </div>
  </div>
</nav>
