.send-promotion-modal {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.backdrop-blur {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
}

.img-thumbnail {
  max-height: 100px;
}
