<div class="container mt-5" *ngIf="enquiry">
  <app-back-button></app-back-button>
  <!-- Contenedor visible SOLO en móviles -->
    <div class="ticket-buttons-mobile d-flex justify-content-between mb-3" *ngIf="enquiry">
      <button class="btn btn-primary me-1 flex-fill me-2 btn-ticket" (click)="sendByEmail()">
        <i class="fas fa-envelope me-1"></i> {{'ui_email' | label}}
      </button>
      <button class="btn btn-success me-1 flex-fill me-2 btn-ticket" (click)="sendByWhatsApp()">
        <i class="fab fa-whatsapp me-1"></i> {{'ui_whatsapp' | label}}
      </button>
      <button class="btn btn-secondary flex-fill btn-ticket">
        <i class="fa-solid fa-print"></i> {{'ui_imprimir' | label}}
      </button>
    </div>

  <div id="ticket-content" class="card shadow border-1 mx-auto ticket-container">
    <div class="card-header bg-dark text-white text-center">
      <h4 class="mb-0">🧾 {{'ui_enquiry_ticket' | label}}</h4>
    </div>

    <div class="card-body">
      <p>{{'ui_company' | label}}</p>
      <p>Calle primera, el centro #1234, CP 12345, Ciudad, Estado</p>
      <p>Sucursal 123</p>
      <p><strong>{{'ui_folio' | label}}:</strong><p>
      <h3>{{ enquiry.folio }}</h3>
      <p><strong>{{'ui_cliente' | label}}:</strong> {{ enquiry.customerName }}</p>
      <p><strong>{{'ui_phone' | label}}:</strong> {{ enquiry.phone }}</p>
      <p><strong>{{'ui_email' | label}}:</strong> {{ enquiry.email }}</p>
      <hr>
      <p><strong>Servicio:</strong> {{ getTypeLabel(enquiry.enquiryTypeId) }}</p>
      <p><strong>{{'ui_message' | label}}:</strong><br> {{ enquiry.message }}</p>
      <hr>
      <p><strong>{{'ui_costo' | label}}:</strong></p>
      <h3>${{ enquiry.costo?.toFixed(2) }}</h3>
      <hr>
      <p><strong>{{'ui_fecha_de_entrega' | label}}:</strong> {{ enquiry.dueDate | date }}</p>
      <p><strong>Atendi&oacute;:</strong> {{ enquiry.createdBy }}</p>
      <p><strong>Fecha de creaci&oacute;n:</strong> {{ enquiry.createdDate | date }}</p>
      <hr>
      <p>Gracias por su preferencia</p>
      <p>Para informacion de nuestros servicios puede visitar nuestra pagina web</p>
      <p>https://www.dominio.com</p>
    </div>
  </div>
  <aside class="ticket-aside">
    <button class="btn btn-primary w-100 mb-2 btn-ticket" (click)="sendByEmail()">
      <i class="fas fa-envelope me-1"></i> {{'ui_email' | label}}
    </button>
    <button class="btn btn-success w-100 mb-2 btn-ticket" (click)="sendByWhatsApp()">
      <i class="fab fa-whatsapp me-1"></i> {{'ui_whatsapp' | label}}
    </button>
    <button class="btn btn-secondary w-100 btn-ticket">
      <i class="fa-solid fa-print"></i> {{'ui_imprimir' | label}}
    </button>
  </aside>
</div>
